In [26]:
import pandas as pd

In [27]:
home_data = pd.read_csv(r"C:\Users\David gathara marigi\Downloads\train (1).csv")
print(home_data.head())

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]

In [28]:
home_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [29]:
column = home_data.SalePrice

In [30]:
colums = home_data['SalePrice']

In [31]:
print(column == colums)

0       True
1       True
2       True
3       True
4       True
        ...
1455    True
1456    True
1457    True
1458    True
1459    True
Name: SalePrice, Length: 1460, dtype: bool

In [32]:
#the indexing operator [] does have the advantage that it can handle column names with reserved characters in them
nice = home_data['SalePrice'][0:4]
print(nice)

0    208500
1    181500
2    223500
3    140000
Name: SalePrice, dtype: int64

Index-based selectionÂ¶
Pandas indexing works in one of two paradigms. 
The first is index-based selection:
selecting data based on its numerical position in the data

In [33]:
'''selecting data based on its numerical position in the data. iloc follows this paradigm. 
To select the first row of data in a DataFrame, we may use the following:'''
home_data.iloc[0]

Id                    1
MSSubClass           60
MSZoning             RL
LotFrontage        65.0
LotArea            8450
                  ...
MoSold                2
YrSold             2008
SaleType             WD
SaleCondition    Normal
SalePrice        208500
Name: 0, Length: 81, dtype: object

In [34]:
'''Both loc and iloc are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second.
This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns. 
To get a column with iloc, we can do the following:'''
print(home_data.iloc[:, 0])
# in the output below we accessed Id column

0          1
1          2
2          3
3          4
4          5
        ...
1455    1456
1456    1457
1457    1458
1458    1459
1459    1460
Name: Id, Length: 1460, dtype: int64

In [35]:
print(home_data.iloc[:, 3])

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [36]:
#to select the street column from just the first, second, and third row, we would do:
print(home_data.iloc[0:3, 5])

0    Pave
1    Pave
2    Pave
Name: Street, dtype: object

In [ ]:
'''it's worth knowing that negative numbers can be used in selection. This will start counting forwards from the end of the values. 
 So for example here are the last five elements of the dataset.'''
print(home_data.iloc[-5:])

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
1455         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1457         Lvl    AllPub  ...        0    NaN  GdPrv        Shed    2500
1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
1455      8   2007        WD         Normal     175000
1456      2   2010        WD         Normal     210000
1457      5   2010        WD         Normal     266500
1458      4   2010        WD         Normal     142125
1459      6   2008        WD         Normal     147500

[5 rows x 81 columns]

In [38]:
#Here, :-5 means âselect all rows up to (but not including) the fifth-to-last row.â
print(home_data.iloc[:-5])

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        1          60       RL         65.0     8450   Pave   NaN      Reg
1        2          20       RL         80.0     9600   Pave   NaN      Reg
2        3          60       RL         68.0    11250   Pave   NaN      IR1
3        4          70       RL         60.0     9550   Pave   NaN      IR1
4        5          60       RL         84.0    14260   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1450  1451          90       RL         60.0     9000   Pave   NaN      Reg
1451  1452          20       RL         78.0     9262   Pave   NaN      Reg
1452  1453         180       RM         35.0     3675   Pave   NaN      Reg
1453  1454          20       RL         90.0    17217   Pave   NaN      Reg
1454  1455          20       FV         62.0     7500   Pave  Pave      Reg

     LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal  \
0            Lvl    AllPub  ...        0    NaN   NaN         NaN       0
1            Lvl    AllPub  ...        0    NaN   NaN         NaN       0
2            Lvl    AllPub  ...        0    NaN   NaN         NaN       0
3            Lvl    AllPub  ...        0    NaN   NaN         NaN       0
4            Lvl    AllPub  ...        0    NaN   NaN         NaN       0
...          ...       ...  ...      ...    ...   ...         ...     ...
1450         Lvl    AllPub  ...        0    NaN   NaN         NaN       0
1451         Lvl    AllPub  ...        0    NaN   NaN         NaN       0
1452         Lvl    AllPub  ...        0    NaN   NaN         NaN       0
1453         Lvl    AllPub  ...        0    NaN   NaN         NaN       0
1454         Lvl    AllPub  ...        0    NaN   NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
0         2   2008        WD         Normal     208500
1         5   2007        WD         Normal     181500
2         9   2008        WD         Normal     223500
3         2   2006        WD        Abnorml     140000
4        12   2008        WD         Normal     250000
...     ...    ...       ...            ...        ...
1450      9   2009        WD         Normal     136000
1451      5   2009       New        Partial     287090
1452      5   2006        WD         Normal     145000
1453      7   2006        WD        Abnorml      84500
1454     10   2009        WD         Normal     185000

[1455 rows x 81 columns]

The second paradigm for attribute selection is the one followed by the loc operator: label-based selection. 
In this paradigm, it's the data index value, not its position

In [39]:
#to get the last entry in home_data, we would now do the following:
print(home_data.loc[0, 'SalePrice'])

208500

In [40]:
print(home_data.loc[: ,['MoSold', 'YrSold', 'SalePrice']])

      MoSold  YrSold  SalePrice
0          2    2008     208500
1          5    2007     181500
2          9    2008     223500
3          2    2006     140000
4         12    2008     250000
...      ...     ...        ...
1455       8    2007     175000
1456       2    2010     210000
1457       5    2010     266500
1458       4    2010     142125
1459       6    2008     147500

[1460 rows x 3 columns]

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. 
So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

In [41]:
home_data.LotShape == 'IR1'

0       False
1       False
2        True
3        True
4        True
        ...
1455    False
1456    False
1457    False
1458    False
1459    False
Name: LotShape, Length: 1460, dtype: bool

In [42]:
#This result can then be used inside of loc to select the relevant data
print(home_data.loc[home_data.LotShape == 'IR1'])

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
2        3          60       RL         68.0    11250   Pave   NaN      IR1
3        4          70       RL         60.0     9550   Pave   NaN      IR1
4        5          60       RL         84.0    14260   Pave   NaN      IR1
5        6          50       RL         85.0    14115   Pave   NaN      IR1
7        8          60       RL          NaN    10382   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1429  1430          20       RL          NaN    12546   Pave   NaN      IR1
1431  1432         120       RL          NaN     4928   Pave   NaN      IR1
1433  1434          60       RL         93.0    10261   Pave   NaN      IR1
1440  1441          70       RL         79.0    11526   Pave   NaN      IR1
1446  1447          20       RL          NaN    26142   Pave   NaN      IR1

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
2            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
3            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
4            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
5            Lvl    AllPub  ...        0    NaN  MnPrv        Shed     700
7            Lvl    AllPub  ...        0    NaN    NaN        Shed     350
...          ...       ...  ...      ...    ...    ...         ...     ...
1429         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1431         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1433         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1440         Bnk    AllPub  ...        0    NaN    NaN         NaN       0
1446         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
2         9   2008        WD         Normal     223500
3         2   2006        WD        Abnorml     140000
4        12   2008        WD         Normal     250000
5        10   2009        WD         Normal     143000
7        11   2009        WD         Normal     200000
...     ...    ...       ...            ...        ...
1429      4   2007        WD         Normal     182900
1431     10   2009        WD         Normal     143750
1433      5   2008        WD         Normal     186500
1440      9   2008        WD         Normal     191000
1446      4   2010        WD         Normal     157900

[484 rows x 81 columns]

In [43]:
# conditional statement using and statement
home_data.loc[(home_data.LotShape == 'IR1') & (home_data.SalePrice >= 200000)]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
11,12,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,New,Partial,345000
13,14,20,RL,91.0,10652,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,New,Partial,279500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413,1414,20,RL,88.0,10994,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2009,COD,Abnorml,257000
1417,1418,60,RL,NaN,16545,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,340000
1419,1420,20,RL,NaN,16381,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2006,WD,Normal,223000
1423,1424,80,RL,NaN,19690,Pave,NaN,IR1,Lvl,AllPub,...,738,Gd,GdPrv,NaN,0,8,2006,WD,Alloca,274970
1426,1427,60,RL,81.0,10944,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2008,WD,Normal,271000

In [44]:
#conditional statement using or statement 
home_data.loc[(home_data.LotShape == 'IR1') | (home_data.SalePrice >= 200000)]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1446,1447,20,RL,NaN,26142,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,157900
1447,1448,60,RL,80.0,10000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2007,WD,Normal,240000
1451,1452,20,RL,78.0,9262,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,New,Partial,287090
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500

Pandas comes with a few built-in conditional selectors, two of which we will highlight here.
The first is isin. 
isin is lets you select data whose value "is in" a list of values. For example, here's how we can use it to select lotshape only from IR1 or Reg:

In [45]:
print(home_data.LotShape.isin(['IR1', 'Reg']))

0       True
1       True
2       True
3       True
4       True
        ...
1455    True
1456    True
1457    True
1458    True
1459    True
Name: LotShape, Length: 1460, dtype: bool

In [46]:
print(home_data.loc[home_data.Fence.notnull()])

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
5        6          50       RL         85.0    14115   Pave   NaN      IR1
14      15          20       RL          NaN    10920   Pave   NaN      IR1
15      16          45       RM         51.0     6120   Pave   NaN      Reg
19      20          20       RL         70.0     7560   Pave   NaN      Reg
21      22          45       RM         57.0     7449   Pave  Grvl      Reg
...    ...         ...      ...          ...      ...    ...   ...      ...
1436  1437          20       RL         60.0     9000   Pave   NaN      Reg
1438  1439          20       RM         90.0     7407   Pave   NaN      Reg
1448  1449          50       RL         70.0    11767   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
5            Lvl    AllPub  ...        0    NaN  MnPrv        Shed     700
14           Lvl    AllPub  ...        0    NaN   GdWo         NaN       0
15           Lvl    AllPub  ...        0    NaN  GdPrv         NaN       0
19           Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
21           Bnk    AllPub  ...        0    NaN  GdPrv         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1436         Lvl    AllPub  ...        0    NaN   GdWo         NaN       0
1438         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1448         Lvl    AllPub  ...        0    NaN   GdWo         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1457         Lvl    AllPub  ...        0    NaN  GdPrv        Shed    2500

     MoSold YrSold  SaleType  SaleCondition  SalePrice
5        10   2009        WD         Normal     143000
14        5   2008        WD         Normal     157000
15        7   2007        WD         Normal     132000
19        5   2009       COD        Abnorml     139000
21        6   2007        WD         Normal     139400
...     ...    ...       ...            ...        ...
1436      5   2007        WD         Normal     120500
1438      4   2010        WD         Normal     149700
1448      5   2007        WD         Normal     112000
1456      2   2010        WD         Normal     210000
1457      5   2010        WD         Normal     266500

[281 rows x 81 columns]

In [47]:
home_data['PoolQC'] = 'China'
print(home_data['PoolQC'])

0       China
1       China
2       China
3       China
4       China
        ...
1455    China
1456    China
1457    China
1458    China
1459    China
Name: PoolQC, Length: 1460, dtype: object

In [48]:
#to access data using indices
indices = [11,200,456,222]
data = home_data.loc[indices]
print(data)

      Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
11    12          60       RL         85.0    11924   Pave   NaN      IR1
200  201          20       RM         80.0     8546   Pave   NaN      Reg
456  457          70       RM         34.0     4571   Pave  Grvl      Reg
222  223          60       RL         85.0    11475   Pave   NaN      Reg

    LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
11          Lvl    AllPub  ...        0  China    NaN         NaN       0
200         Lvl    AllPub  ...        0  China    NaN         NaN       0
456         Lvl    AllPub  ...        0  China    NaN         NaN       0
222         Lvl    AllPub  ...        0  China  MnPrv         NaN       0

    MoSold YrSold  SaleType  SaleCondition  SalePrice
11       7   2006       New        Partial     345000
200      3   2010        WD         Normal     140000
456      5   2008       COD        Abnorml      98000
222      2   2006        WD         Normal     179900

[4 rows x 81 columns]

Create a variable df containing the saletype, salecondition,and saleprice columns of the records with the index labels 0, 1, 10, and 100. 
In other words, generate the DataFrame:

In [49]:
columns = ['SaleType', 'SaleCondition', 'SalePrice']
indices = [0, 1, 10,100, 1000]
df = home_data.loc[indices, columns]
print(df)

     SaleType SaleCondition  SalePrice
0          WD        Normal     208500
1          WD        Normal     181500
10         WD        Normal     129500
100        WD        Normal     205000
1000       WD        Normal      82000

In [50]:
columns = ['SaleCondition', 'SalePrice']
df = home_data.loc[:99, columns]
print(df)

   SaleCondition  SalePrice
0         Normal     208500
1         Normal     181500
2         Normal     223500
3        Abnorml     140000
4         Normal     250000
..           ...        ...
95        Normal     185000
96        Normal     214000
97        Normal      94750
98       Abnorml      83000
99        Normal     128950

[100 rows x 2 columns]